*, *::after, *::before{
    margin: 0;
    padding: 0;
}

:root{
    --clrw: hsl(0, 0%, 98%);
    --clrgray: hsl(0, 0%, 41%);
    --clrblack: hsl(0, 0%, 8%);
    --fs: 18px;
    --fm: 36px;
    --fl: 54px; 
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: var(--fs);
    color: var(--clrgray);
    background-color: var(--clrw);
}

header{
    display: flex;
    padding: 1rem;
    align-items: center;
}

.header-nav{
    display: flex;
    margin-left: 2rem;
}

.header-nav > *{
    margin-right: 2rem;
    cursor: pointer;
}
.header-hamburger__menu{
    display: none;
}

.header-rightside{
    display: flex;
    margin-left: auto;
    justify-content: center;
    height: 3rem;
    align-items: center;
    cursor: pointer;
}
.header-signup{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0 1rem;
    height: 100%;
    border: 2px solid var(--clrgray);
    border-radius: .75rem;
}
.header-signup:hover{
    background-color: var(--clrblack);
    border: none;
    transition: .1s;
    color: var(--clrw);
}

main{
    display: grid;
    margin: 3rem 10rem;
    grid-template-columns: repeat(2, 1fr);
    height: 70vh;
}
/* .section-description{
} */
.description-header{
    font-size: var(--fl);
    color: var(--clrblack);
    font-weight: 700;
}
.description-subtitle{
    margin: 2rem 0;
    line-height: 1.5;
}
.section-description > button{
    background-color: var(--clrblack);
    color: var(--clrw);
    padding: 1rem 1.5rem;
    font-family: 'Epilogue', sans-serif;
    border-radius: .75rem;
    border: none;
    cursor: pointer;
}
.section-description > button:hover{
    background-color: var(--clrgray);
}
.description-clients{
    display: flex;
    margin-top: 7rem;
    width: 80%;
    justify-content: space-between;
}
.section-images{
    height: 70vh;
}
.section-images > img{
    height: 100%;
    object-fit: contain;
}

@media (max-width: 390px) {
    .header-hamburger__menu{
        display: inline;
        margin-left: auto;
    }
    .header-nav{
        display: none;
    }
    .header-rightside{
        display: none;
    }
    main{
        display: flex;
        flex-direction: column-reverse;
        margin: .5rem 1rem;
    }
}